  <h1>FireGo Backbone</h1>
  <div id='gameLobby'>
    <div class="js-games-list list-group"></div>
    <form class='form-inline' role='form'>
      <div class='form-group'>
        <input class='form-control js-game-name' type='text' placeholder='Game Name'>
      </div>
      <select>
        <option>19x19</option>
        <option>13x13</option>
        <option>9x9</option>
      </select>

      <button class="btn btn-default js-create-game" href="#">Create Game</button>
    </form>
  </div>