  <div id='gameLobby'>
    <h1>gamelobbymustache</h1>
    <div class="list-group" id='messagesDiv'></div>
    <form class='form-inline' role='form'>
      <div class='form-group'>
        <input class='form-control' type='text' id='gameName' placeholder='Game Name'>
      </div>
      <button class="btn btn-default" id="createGame" href="#">Create Game</button>
    </form>
  </div>