

body {
  // margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  // background-color: #f8f8f8;
  // font-size: 24px;
  // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  // color: #424547;
  text-align: center;
}


#board {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}



// stones
.stone-row {
  display: block;
  position: relative;
  top: -340px;
  .stone-col {
    opacity: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    &.white-move {
      background-color: white;
      opacity: 1;
    }
    &.black-move {
      background-color: black;
      opacity: 1;
    }
  }
}

.board-grid {
  width: 40px;
  height: 40px;
}

.grid-row {
  height: 40px;
}
.grid-square {
  background-color: #FFCC66;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
}

.ruler-top {
  margin-bottom: 20px;
  .ruler-marker {
    display: inline-block;
    width: 40px;
  }
}
.ruler-vertical {
  position: absolute;
  top: 31px;
  left: 40px;

  .ruler-marker {
    height: 40px;
  }
}
.ruler-marker {
  font-size: 15px;
}

.spectator-name {
  list-style-type: none;
}

.captured-stones {
  font-size: 15px;
}

.stone-count {
  display: inline-block;
}
.player-name {
  font-size: 15px;
}
.player-name-text {
  display: inline-block;
}
.info-box {
  border: 1px solid black;
}

.js-edit-black-name, .js-edit-white-name {
  display: none;
}

#activeGame{
  &.black-player {
    .js-edit-black-name{
      display: inline-block;
    }
  }
  &.white-player {
    .js-edit-white-name{
      display: inline-block;
    }
  }
}

.input-player-name {
  display: none;
}
.submit-edit-black-name, .submit-edit-white-name {
  display: none;
}

.games-list-item {
  cursor: pointer;
}

.black-hover:hover {
  background-color: black;
  opacity: 0.5;
}
.white-hover:hover {
  opacity: 0.8;
  background-color: white;
}